*{
    margin: 0%;
    padding: 0%;
}
.container{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.sidebar{
    background-color: brown;
    width: 20%;
    z-index: 1;
}

button{
    width: 100%;
    max-height: 50px;
}